meta {
    -theme-interface-style: dark;
    -theme-vibrancy: none;
    -theme-accent-color: true;
}

/*
 * Window styles
 */
meta.window {
    background-color: hsl(209, 72%, 10%);
    border-color: hsla(0, 0%, 100%, 0.15);
}
meta.titlebar {
    color: hsl(220, 17%, 76%);
    background: linear-gradient(hsl(211, 66%, 16%), hsl(211, 64%, 9%));
    background-color: hsl(211, 64%, 9%);
    border-color: hsla(0, 0%, 100%, 0.15);
}
meta.titlebar.inactive {
    background-color: hsl(211, 34%, 12%);
    border-color: hsla(0, 0%, 100%, 0.15);
}

meta.button {
    background: linear-gradient(hsl(210, 71%, 37%), hsl(210, 70%, 22%));
    border: linear-gradient(hsl(210, 71%, 37%), hsl(210, 70%, 22%));
    color: white;
}
meta.button.highlighted {
    background: linear-gradient(hsl(210, 70%, 22%), hsl(210, 100%, 25%));
    color: white;
}
meta.button.highlighted.selected {
    background: linear-gradient(hsl(210, 70%, 22%), hsl(210, 71%, 37%));
    border: linear-gradient(hsl(210, 70%, 22%), hsl(210, 71%, 37%));
    color: white;
}
meta.button.selected {
    color: white;
}
meta.button.highlighted.selected {
    color: white;
}
meta.button.disabled {
}

meta.textfield {
    background-color: hsl(221, 28%, 29%);
    border-color: hsl(221, 46%, 29%);
}
meta.textfield.highlighted {
    background-color: hsl(221, 35%, 39%);
    border-color: hsl(221, 49%, 23%);
}

/*
 * Document styles
 */
meta.document {
    background-color: #041627;
    border-color: #4c6db5;
}

meta.document.button {
    background: linear-gradient(hsl(210, 60%, 17%), hsl(210, 55%, 18%));
    border: linear-gradient(hsl(210, 5%, 11%), hsl(210, 5%, 8%));
}
meta.document.button.disabled {
    background: linear-gradient(
        hsla(220, 62%, 14%, 0.3),
        hsla(220, 63%, 15%, 0.3)
    );
}
meta.document.button.highlighted {
    background: linear-gradient(hsl(210, 78%, 22%), hsl(210, 69%, 28%));
}

meta.document.textfield {
    background-color: hsl(210, 90%, 9%);
    border-color: hsl(210, 69%, 23%);
}
meta.document.textfield.highlighted {
    background-color: hsl(210, 79%, 16%);
    border-color: hsl(210, 56%, 28%);
}

/* Text */
meta.text {
    color: hsl(0, 0%, 100%);
}
meta.text.invisible {
    color: hsla(210, 100%, 90%, 0.15);
}
meta.text.selected {
    background-color: #0f3a7c;
}

/* Cursor */
meta.cursor {
    background-color: #19345e;
}

/* Indentation Guides */
meta.indentguide {
    border-color: hsla(220, 42%, 36%, 0.2);
}

/* Gutter */
meta.gutter {
    color: hsl(210, 31%, 41%);
}
meta.gutter.selected {
    background-color: hsl(210, 31%, 41%);
    color: hsl(210, 100%, 90%);
}

/*
 * Syntax styles
 */
comment {
    color: #4b608f;
    font-style: italic;
}
processing {
    color: hsl(210, 20%, 50%);
}
declaration {
    color: hsl(210, 20%, 50%);
}
bracket {
    color: #ffd700;
}
operator {
    color: #ffaf7c;
}
invalid {
    background-color: hsl(0, 90%, 60%);
    color: hsl(60, 33%, 96%);
}
link {
    color: hsl(210, 100%, 70%);
}

/* Keywords */
keyword {
    color: hsl(210, 100%, 70%);
}
keyword.modifier {
    font-style: italic;
    color: #e65fbb;
}
keyword.condition {
    color: #ffa872;
}
keyword.construct {
    color: #fff98d;
}
keyword.statement {
    color: #ffa9ac;
}
keyword.self {
    color: #f8c1ff;
}
keyword.self.prefix {
    color: hsl(210, 100%, 80%);
}

/* Values */
value.boolean {
    color: #5aa6ff;
}
value.null {
    color: #5aa6ff;
}
value.number {
    color: #66acfd;
}
value.entity {
    color: #66acfd;
}
value.symbol {
    color: #66acfd;
}

/* Identifiers */
identifier.type {
    color: hsl(32, 90%, 70%);
}
identifier.constant,
identifier.global,
identifier.variable {
    color: #aaafff;
}
identifier.constant.prefix,
identifier.global.prefix,
identifier.variable.prefix {
    color: #7e83de;
}
identifier.property {
    color: #a08dff;
}
identifier.property.prefix {
    color: #a08dff;
}
identifier.decorator,
identifier.function,
identifier.method {
    color: #ffcfa2;
}
identifier.key {
    color: #ffd9d9;
}
identifier.argument {
    color: #f8c1ff;
}
identifier.argument.prefix {
    color: hsl(240, 100%, 92%);
}

/* Strings */
string {
    color: #d4f4d3;
}
string.delimiter {
    color: #55bff8;
}
string.escape {
    color: #90d7fd;
}
string.key {
    color: hsl(270, 80%, 80%);
}
string-keyword {
    color: hsl(30, 100%, 90%);
}
string-template {
    color: hsl(30, 100%, 70%);
}
regex {
    color: hsl(30, 100%, 70%);
}
regex.escape {
    color: hsl(30, 100%, 80%);
}
cdata {
    color: hsl(210, 100%, 70%);
}

/* Markup */
markup.heading {
    color: #ffaa65;
}
markup.line {
    color: #feff7c;
}
markup.bold {
    color: #56d2fe;
    font-weight: bold;
}
markup.italic {
    color: #bcff89;
    font-style: italic;
}
markup.strikethrough {
    color: #667f99;
}
markup.list.item {
    color: #ffaa65;
}
markup.code {
    background-color: #273e68;
    font-family: monospace;
}
markup.link {
    color: ##47a3ff;
}
markdown.markup.block.quote {
    color: #ff64db;
}

/* Types */
definition.class.name,
definition.type.name,
definition.package.name,
definition.enum.name,
definition.union.name,
definition.struct.name {
}

/* Members */
definition.property.name {
}
definition.function.name,
definition.method.name {
}

/* Tags */
tag {
    color: #47a3ff;
}
tag.name {
    color: #ffcfa2;
}
tag.framework {
    color: #ff45c9;
}
tag.framework.name {
    color: #ff45c9;
}
tag.attribute.name {
    color: #ff7176;
}
tag.framework.attribute.name {
    color: hsl(320, 60%, 70%);
}
tag.attribute.value {
    color: #d4f4d3;
}
tag.attribute.value.delimiter {
    color: #55bff8;
}
tag.attribute.operator {
    color: #e7ffd7;
}
tag.attribute.value.link {
    color: #47a3ff;
}

/* Styles */
style.at {
    color: #f69e72;
    font-weight: bold;
}
style.selector.element {
    font-weight: bold;
}
style.selector.identifier.id {
    color: #f69e72;
}
style.selector.identifier.class {
    color: #bc93ff;
}
style.selector.pseudoclass {
    color: #ff7176;
}
style.selector.pseudoelement {
    color: #ff7176;
}
style.attribute.name {
    color: #f3e2ff;
}
style.value.number {
    color: #6dafff;
}
style.value.color.hex {
    color: #ffc386;
}
style.value.keyword {
    color: #d8ffd0;
}
style.value.color.named {
    color: #13b6ec;
}
style.value.identifier.function {
    color: #ff8e97;
}

css.style.selector.pseudoclass {
    color: #ff7176;
}
css.style.selector.pseudoelement {
    color: #ff7176;
}
css.style.selector.simple.element.identifier.name {
    color: #b597fc;
}
css.style.attribute.name {
    color: #ffefef;
}
css.style.attribute-list,
css.keyframe.value.number {
    color: #ffa9f4;
}
css.style.attribute.value {
    color: #d8ffd0;
}
css.style.at-rule.keyframes.identifier {
    color: #a484fc;
}

javascript.bracket {
    color: #00bfff;
}
javascript.definition.function.named {
    color: #fcc799;
}
javascript.definition.variable.local {
    color: #fff89b;
}
javascript.function.identifier.name {
    color: #ff9698;
}
javascript.identifier {
    color: #bfa9ff;
}
javascript.identifier.constant {
    color: #e6d0ff;
}
javascript.identifier.property {
    color: #a08dff;
}
javascript.identifier.argument.name {
    color: #ffbdff;
}
javascript.identifier.function,
javascript.identifier.method {
    color: #ff9698;
}
javascript.identifier.key.name {
    color: #ffd9d9;
}
javascript.key-expression {
    color: #fcc799;
}
javascript.keyword.construct {
    color: #fcc799;
}
javascript.keyword.statement {
    color: #b597fc;
}
javascript.keyword.statement.import {
    color: #e65fbb;
}

javascript.object-literal {
    color: #7e83de;
}

php.identifier.type.class.name {
    color: #cfa4ff;
}
php.keyword.construct {
    color: #ff9698;
}
php.identifier.function,
php.definition.identifier.method.name,
php.identifier.method.static {
    color: #ffe8db;
}
php.identifier.property {
    color: #ee883f;
}
php.definition.method.static {
    color: #ffac7c;
}
php.identifier.variable,
php.identifier.variable.name,
php.identifier.argument.name {
    color: #878eea;
}
php.type.identifier.name,
php.namespace-traits.type-expression {
    color: #ffe8db;
}
php.definition.method.static {
    color: #9fb1ff;
}
php.argument-expression.untyped {
    color: #42ffff;
}
php.sql.string-keyword {
    color: #80bbff;
}
php.type.identifier.name {
    color: #faa3ff;
}

blade.variable {
    color: #ff5ccb;
}

python.bracket,
python.operator {
    color: #66acfd;
}

python.identifier.class.type.name {
    color: #ffe8db;
}
python.identifier.function.name,
python.identifier.method.name {
    color: #ff7bb2;
}
python.identifier.argument.name {
    color: #b186ff;
}
python.identifier.property {
    color: #ffb857;
}
python.keyword.construct {
    color: #9fb1ff;
}
python.keyword.statement {
    color: #ff93ec;
}
python.string.triple-quoted.delimiter {
    color: #ffac7c;
}
python.string.triple-quoted.double-quotes {
    color: #4b608f;
}
python.identifier.method.name {
    color: #fcadae;
}
python.value.tuple {
    color: #42ffff;
}
python.arguments {
    color: #c090ff;
}
python.operator {
    color: #fff249;
}

typescript.bracket {
    color: #00bfff;
}
